[2018-08-08 17:07] smith-m opened #1 "Documentation on the current use case and some thoughts"
This is really interesting - I saw your blog post linked on reddit.

What is your current Airflow setup? 1.9.0? What executor are you running?

If you aren't using the LocalExecutor, does this mean you would scrape metrics from the "web" service? Have you given any thought as to how you would scrape metrics from all components of a CeleryExecutor setup? (web, scheduler, worker pools) or the WIP Ku

[2018-08-10 09:40] elephantum commented on #1
Hi, @smith-m

I'll try to break down your text and answer each part.

We're using modified puckel's docker image with LocalExecutor for simplicity.

It's a good question, currently, we care mostly about high-level metrics like dagrun/taskinstance status. But it would be nice to monitor both scheduler and executor in the similar fashion.

We use Grafana for visualization.

I see a development of th

[2018-08-10 09:42] elephantum opened #2 "Service level metrics"
Implement technical metrics of webui, scheduler and executors like uptime, an average time to reread dagbag etc.

[2018-08-10 15:27] smith-m commented on #2
It would probably make sense to outline what the minimum of these metrics should be.

Also what mechanisms are suggested to inject an http interface in process for scheduler and executor. In terms of providing an http component for metrics, this is probably in line with providing an http interface for a /health endpoint. (https://issues.apache.org/jira/browse/AIRFLOW-1084?jql=project%20%3D%20AIRFL

[2018-08-14 15:14] hydrosquall opened #4 "Installation Clarification"
To get this to work, I had to move the `prometheus_exporter` directly into the `/plugins` directory, because my python path was having trouble finding the `prometheus_exporter.db` module. In other words, my directory looked like

[code]

rather than what would happen if I followed the exact install instructions

[code]

I wanted to check whether this was the experience of other people too, or if t

[2018-08-14 15:51] elephantum commented on #4
Agreed, this is an issue on our side. We'll move plugin code to the root of the repository.

[2018-08-14 16:02] elephantum commented on #4
@cleverCat перетащи плз код плагина в корень, а `screenshots/` давай выпилим совсем и заменим ссылками на картинки отсюда: https://epoch8.github.io/2018/08/03/monitoring-airflow-with-prometheus.html

[2018-08-14 19:31] #4 closed

[2018-08-15 11:44] #1 closed

[2018-08-28 11:44] nidhi-chourasia opened #6 "No module named prometheus_exporter.db.store"
I was setting-up the exporter as per README.Got the following error while executing airflow scheduler

osboxes@osboxes:~$ airflow webserver -p 8080
[2018-08-28 07:11:24,962] {__init__.py:57} INFO - Using executor SequentialExecutor
[2018-08-28 07:11:25,259] {driver.py:123} INFO - Generating grammar tables from /usr/lib/python2.7/lib2to3/Grammar.txt
[2018-08-28 07:11:25,301] {driver.py:123} INFO -

[2018-08-28 13:51] elephantum commented on #6
@nidhi-chourasia I see the problem, you're using Python 2.7. It doesn't like syntax `f(*args, **kwargs, something=smth)`

We'll fix it.

[2018-08-28 13:57] elephantum commented on #6
@nidhi-chourasia can you please pull the latest `master` from the repo? I believe the issue should be fixed.

[2018-08-29 09:14] nidhi-chourasia commented on #6
Thankyou for the fix,I see that the error:
File "/home/osboxes/airflow/plugins/prometheus-exporter/db/store.py", line 32
return function(*args, **kwargs, connection=session)
^
SyntaxError: invalid syntax.

is fixed but there is another one that is still coming up.

File "/usr/local/lib/python2.7/dist-packages/airflow/plugins_manager.py", line 79, in
m = imp.load_source(namespace, filepath)
File "/

[2018-09-03 13:01] #6 closed

[2018-09-05 20:16] hydrosquall opened #9 "[Feature Request] Report DAG Duration"
Would it be possible to report the current duration of currently active DAG runs as an additional metric?

I'm going to look into this too, but was wondering if it's something that the epoch8 team had thought about already.

[2018-09-11 14:46] elephantum opened #13 "Setup continuos integration"
Choose between CircleCI and TravisCI.

Create pipeline that

* performs `docker-compose up` for each `tests/airflow1.8-py2` and `test/airflow1.9-py3`
* waits for Airflow to start
* checks that `localhost:8080/admin/metrics` returns 200 OK with correctly formatted metrics

[2018-09-12 09:39] #9 closed

[2018-09-22 07:42] elephantum opened #14 "Add Airflow 1.10 compatibility"

[2018-10-10 00:36] hydrosquall commented on #13
@elephantum I can look into this on the weekend :)

[2018-10-10 05:49] elephantum commented on #13
@hydrosquall that would be great, we started using Travis-CI for internal project, would be nice to stick with it.

[2018-10-11 20:59] rmn36 opened #16 "Exception thrown in prometheus exporter when trying to scrape"
Stacktrace below.

[code]

[2018-10-11 21:35] rmn36 commented on #16
Using version 1.9.0-4 based on this popular docker image with Python 3: https://github.com/puckel/docker-airflow

Issue appears to be that the `Sample` object has more than just name, label and value now. this may be a change on the prometheus client side.
[code]

Hotfix is straightforward. Something like this:
[code]
but that does not make sure of the additional information in any way.

[2018-10-12 15:16] rmn36 commented on #16
It now fails on one of the SQL queries.

This function:
[code]

creates this query:
[code]

causes this error:
`ERROR:  relation "task_instance" does not exist at character 312`

This seems to refers to the `FROM task_instance` in the subquery.

This is the Dockerfile I'm using the create the image with the plugin and client
[code]

[2018-10-12 16:11] elephantum commented on #16
Thanks, we’ll try to reproduce your conditions and fix the problem.

[2018-10-12 16:14] rmn36 commented on #16
@elephantum Thanks! It appears that when the plugin and client are installed the postgresql database isn't initialized properly causing the `task_instance` table to not be present. The only difference in the postgresql logs I can find is that when the plugin and client are installed the postgresql process complains about an "incomplete startup packet"

`LOG:  incomplete startup packet`

[2018-10-12 20:14] rmn36 commented on #16
@elephantum fixed by upgrading `psycopg2`

`pip3 install psycopg2 -U`

[2018-10-15 15:28] #14 closed

[2018-10-15 15:47] #16 closed

[2018-10-15 15:51] elephantum commented on #16
@rmn36 can you please check with the latest release if everything works for you?

[2018-10-15 17:36] rmn36 commented on #16
@elephantum works as expected now. thanks!

[2018-10-15 17:49] rmn36 commented on #16
@elephantum I spoke to see. We are still seeing this issue.

[2018-10-25 15:55] hydrosquall opened #21 "Add `requirements.txt` + Project Dependencies to project root"
We should document what versions of the project's dependencies are known to work with this plugin

[2018-10-25 19:11] c4milo opened #22 "Airflow 1.10 with rbac enabled doesn't show up this plugin in UI's menu"
A patch for Airflow's plugin manager was done in https://github.com/apache/incubator-airflow/pull/4036. I believe the plugin needs add another class extending from `AppBuilderBaseView`.

[2018-11-06 15:45] zstoth opened #23 "Airflow database CPU usage"
After adding the plugin to our installation the Airflow postgres DB reported ~100% CPU usage until the plugin was removed. This made it impossible for the scheduler to schedule new tasks, Airflow basically stopped functioning.
Our airflow contains around 100 dags, some with a few thousand dag runs - I think reloading this was too much for the DB. Do you know any workaround for this issue?

[2018-11-07 09:43] elephantum commented on #22
@c4milo thanks for reporting, we'll take a look into it

[2018-11-08 06:32] szyn opened #24 "UnknownFormatError: Unsupported content-type provided: text"
Hi, I get the following error when using Datadog with Prometheus integration.

[code]

The cause of the error is `mimetype='text'`.
https://github.com/epoch8/airflow-exporter/blob/master/prometheus_exporter.py#L125

As [prometheus/client_python](https://github.com/prometheus/client_python/blob/a50f3e4ba38617e9c64c928087c7548b09081975/prometheus_client/exposition.py#L30), we have better to use `tex

[2018-11-12 19:10] seelmann commented on #23
We experienced the same problem today.

The problem is that it is also activated on the workers whenever a task instance is executed. So for each started task at plugin registration the `collect()` function is called.

In `pg_stat_activity` we saw especially the query from `get_task_state_info()` is heavy and takes multiple seconds to execute when the database is at 100% CPU. Postgres does a full

[2018-11-13 00:18] arihantsurana opened #26 "Exporter fails on sql datatypes with mysql based airflow DB"
When deploying the airflow exporter on my Airflow 1.10 installaion, I face following error -
[code]

[2018-11-13 17:24] #24 closed

[2018-11-13 17:24] elephantum commented on #24
@szyn thanks for reporting and fixing!

[2018-11-14 16:21] phani8996 commented on #22
@c4milo #28  addresses this issue. Unfortunately for this to work, we have to wait till airflow releases plugin support when rbac enabled. This future currently available with dev version of airflow.

[2018-11-19 10:46] elephantum commented on #13
Fixed by #20 and #27

[2018-11-19 10:46] #13 closed

[2018-11-20 07:04] elephantum commented on #21
Closed by #32

[2018-11-20 07:04] #21 closed

[2018-11-21 13:11] elephantum commented on #23
@zstoth @seelmann can you please check if v0.4.3 fixes this issue?

[2018-11-21 15:03] elephantum commented on #26
@arihantsurana can you please check that v0.4.4 fixes this issue?

[2018-11-23 12:45] zstoth commented on #23
It helps, yes. I applied the same solution locally, it prevents the scheduler calling the plugin. The DB operations are still heavy, but setting the Prometheus scrape interval to 5m causes only ~50% CPU usage spikes instead of 100%, so it's possible to live with that.
Maybe a note about that in the README would be helpful. Thanks for the fix!

[2018-11-23 13:51] elephantum commented on #23
Cool!

@zstoth If you think clarifications in README are necessary - feel free to make a PR.

Also, I'll add another bug for heavy CPU usage, maybe some extra indexes here and there will help.

[2018-11-23 13:51] #23 closed

[2018-11-23 13:53] elephantum opened #35 "Heavy CPU usage on large number of DAGs"
As discussed here: https://github.com/epoch8/airflow-exporter/issues/23#issuecomment-441232655 there's an issue with collecting metrics on the database with large number of DAGs.

We need:

- a test case to reproduce this issue
- investigate what's causing CPU usage
- make a fix

[2018-11-23 14:38] elephantum commented on #22
Fixed in v0.5

[2018-11-23 14:38] #22 closed

[2018-11-26 22:06] ryan-carlson opened #36 "Exporter fails with Sqlite DB used in development environment"
When using the Sqlite DB, the following error occurs when attempting to open the metrics page.

Traceback (most recent call last):
  File "/Users/ryan.carlson/.virtualenvs/spothero-dataflows/lib/python3.6/site-packages/flask/app.py", line 1982, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/ryan.carlson/.virtualenvs/spothero-dataflows/lib/python3.6/site-packages/flask/app.p

[2018-11-26 22:14] ryan-carlson commented on #36
I have code fix that I can share which enable support Sqlite.  Is it possible for me to submit this as a PR?

[2018-11-27 06:49] elephantum commented on #36
@ryan-carlson of course! We are glad to receive contributions.

[2018-11-27 15:52] ryan-carlson commented on #36
Sounds great, please see https://github.com/epoch8/airflow-exporter/pull/37

[2018-11-29 10:47] elephantum commented on #36
I believe this can be closed, as #37 is merged

[2018-11-29 10:47] #36 closed

[2018-12-06 13:43] ebartels commented on #26
We have a fix for this and will make a PR in the next week

[2018-12-06 18:05] d-goldin commented on #35
In our fork, we have applied a fix like: https://github.com/soundcloud/airflow-exporter/commit/41a72ed19bf7a2de36fff76441ca1d0d5ddd08b9 - maybe it's something that could work for you too or potentially be upstreamed. This mitigates the issue of workers running this query, which caused the biggest chunk of load for us. Implementing a description function would still probably be better, but was not

[2018-12-10 13:51] d-goldin commented on #35
Seems like it's actually already fixed using describe in 0.5.1, so we will try that one instead.

[2018-12-10 15:36] elephantum commented on #26
I believe this one is fixed

[2018-12-10 15:36] #26 closed

[2018-12-12 05:47] rushtokunal commented on #22
@elephantum I tried the plugin with version 2.0 (master) branch of Airflow and it doest work. Do we still have to use the /admin/metrics after the link of the UI? I have RBAC enabled

[2018-12-21 23:35] rushtokunal opened #40 "Airflow 2.0.0 Beta with rbac enabled doesn't show up this plugin in UI's menu"
I downloaded the latest version of the code and followed the steps. It work when RBAC is not enabled but I enable RBAC the plugin doesnt show up in the UI

[2019-01-16 11:54] travisgroth opened #43 "Feature: Last status timestamp metrics"
Using the current metrics layout, it becomes challenging to create alerts if you have a scenario where a DAG could not succeed for several periods.  The failed gauge will always read non-zero if there are historical gaps, even if subsequent runs may have succeeded.  In our case, these gaps might be acceptable.  Here's a DAG history that illustrates this:

[code]

The resulting metrics are as follo

[2019-01-16 12:31] elephantum commented on #43
Will it be useful to have explicit “last_status” metric?

[2019-01-16 13:53] travisgroth commented on #43
WRT to manually setting success - yes that's a reasonable position.  In our case we have external interactions that we don't want engineers to have to intervene in until there are excessive failure periods (say 3 failed runs in a row or 3 days of failure).  Manually marking them successful will prove challenging to scale for our use case.

Structure wise - I'm quite interested in getting the times

[2019-01-25 05:39] rushtokunal commented on #40
Can you help with this issue?

[2019-01-26 08:14] elephantum commented on #40
@rushtokunal sorry, currently we’re using 1.9 airflow, so we didn’t see this issue.

We’re considering to try 2.0 in Q1

[2019-02-07 01:32] alfccc commented on #26
did this get deployed in the latest release? I recently had the exact same issue

[2019-02-08 09:15] ebartels commented on #26
@alfccc This was fixed:

https://github.com/epoch8/airflow-exporter/pull/29
https://github.com/epoch8/airflow-exporter/pull/38

[2019-02-08 18:08] alfccc commented on #26
my connection string starts with mysql+pymysql, could that be a problem?
`AIRFLOW__CORE__SQL_ALCHEMY_CONN='mysql+pymysql...'`

[2019-02-09 19:36] elephantum commented on #26
@alfccc do you mind opening new issue with specific details: stack trace that you get, relevant details about DB and connection string?

[2019-02-16 18:52] rushtokunal commented on #40
@elephantum are you planning on implementing this feature in 2.0 this quarter? I was looking at statsd but felt it’s just another layer and doesn’t give me any added benefit

[2019-02-25 08:39] huntcsg opened #44 "Deliver plugin as a python package"
Airflow has the ability to load plugins as python packages.

I'd be happy to contribute a setup.py and do release management to pypi if you are interested.

Alternatively, if you are not interested in doing that out of this repo I can set up a fork with the necessary setup.py release management tooling.

See https://airflow.apache.org/plugins.html#plugins-as-python-packages for some info.

[2019-02-25 09:52] elephantum commented on #44
@huntcsg feel free to make a PR. We’ll be glad to accept it

[2019-04-09 13:41] fahran opened #46 "Breaking change in Airflow 1.10.3(rc2) - removal of DagStat class"
Unfortunately a class that the exporter depends on, DagStat, has been removed in the latest version of Airflow (tested with v1.10.3rc2)

The error as reported in the UI is: "Broken plugin: [/usr/local/airflow/plugins/airflow-exporter-0.5.4/prometheus_exporter.py] cannot import name 'DagStat'"

From the changelog: https://github.com/apache/airflow/blob/master/CHANGELOG.txt, the relevant line is: [A

[2019-04-11 17:24] sockeye44 commented on #46
Just encountered the same problem, looks like switching to DagRun really solves it. Created PR #47 with a fix

[2019-04-12 11:46] elephantum commented on #46
@fahran for now it's impossible to preserve compatibility with 1.10.3 and previous versions simultaneously. (possible but harder)

I merged @sockeye44 PR into branch `airflow-1.10.3` use it to have plugin working.

[2019-04-12 11:54] elephantum commented on #46
Closing this issue for now. Feel free to reopen if necessary.

[2019-04-12 11:54] #46 closed

[2019-05-06 02:42] rushtokunal commented on #40
@elephantum - i see that the plugin is compatible with Airflow 10.3, does it mean it is now complatible with RBAC as well?

[2019-05-06 10:10] elephantum commented on #40
@rushtokunal I don't know yet.

RBAC is implemented as a separate set of views if I'm not mistaken. It should be tested.

We're still using 10.2 and no RBAC

[2019-06-06 21:18] lelvisl opened #49 "export XCOM variables"
It may be useful to export XCOM variables for monitoring gas progress.

[2019-06-08 18:38] elephantum commented on #49
@lelvisl can you give complete use case for this functionality?

[2019-06-08 18:55] lelvisl commented on #49
I need some opportunity to monitor status of my dugs. Example - how many rows had selected from source. (Some of my dags lasts more then 9 hours).
In dag I can update Xcom variable.

(Now I try to use http in python operator & prom push gateway)

[2019-06-08 18:59] lelvisl commented on #49
P.S. Спасибо за очень полезный плагин!

[2019-06-08 20:43] elephantum commented on #49
(я оставлю обсуждение на английском, мало ли кто подключится)

There's a problem with exporting Dag/Task specific metrics to prometheus: Airflow does not guarantee that Task runs at scheduled date (there might be delay between sccheduling and running or Task can be backfilled).

So metrics in prometheus would not line up with logical execution date.

We have similar need (to monitor custom metrics

[2019-06-09 00:30] lelvisl commented on #49
Yes, you right, xcom variables is not the right decision.

As I understood, there is two ways:
- system variables for metrics, or special plugin, and after your plugin can export this data
- direct call Prometheus client in dag/task from your plugin right now (Not so graceful and I don’t know is it possible)

[2019-07-11 08:33] oferziss opened #51 "plugin installation on latest puckel/docker-airflow causes exceptions on startup"
this is a weird issue but i'll do my best to describe it and how i concluded the fault is in the plugin.

i am building a custom airflow image based on puckel/docker-airflow:latest

my Dockerfile looks like this:

[code]

lately after building the image running it will produce the following error and cause the container to exit:
[code]

after some debugging and getting no results, i tried just com

[2019-07-11 11:23] oferziss commented on #51
migrating to pip install solved everything there...closing this

[2019-07-11 11:23] #51 closed

[2019-07-11 12:01] elephantum commented on #44
Solved by #48

[2019-07-11 12:01] #44 closed

[2019-07-18 16:57] frankcash opened #53 "Tag 0.5.4 doesn't have a setup.py"
Can you please tag a 1.10.2 safe version that has a setup.py to allow pip install i.e.

### Command
[code]

### Throws an error

[code]

When I download the `.zip` from the release and run `ls -la` there is no `setup.py`.  I see on the master branch it was introduced for `v1.0`, but that doesn't support `1.10.2`

[2019-07-29 01:11] alannesta commented on #53
For `0.5.4`, you could directly copy the file `prometheus_exporter.py` to the plugins folder of your airflow installation.

[2019-07-29 16:00] frankcash commented on #53
Yes, I definitely understand that.  But, I wonder if you could back port the 1.10.2 support through pip as it would make use easier users of 1.10.2 airflow.

If you'd be open to creating a branch and then accepting a PR for it that could be helpful too.

[2019-08-02 16:49] greenpau opened #54 "feature: exporter does not require authentication"
What is the quickest way to add authentication to the plugin? e.g. modifying the path?

[2019-08-02 17:59] greenpau commented on #54
One way to get this working ...

Add `is_valid_token` below to `prometheus_exporter.py`:

[code]

Then add `is_valid_token` decorator to the `index` function:

[code]

Then, access the interface with the token:

[code]

[2019-08-02 18:04] greenpau opened #55 "feature: add airflow_exporter_info metric"
Propose adding `airflow_exporter_info` metric, similar to `python_info`:

[code]

[2019-08-02 18:47] greenpau commented on #54
There is probably an easy way to store the token in airflow config file. Will look it up.

[2019-08-02 18:50] greenpau commented on #54
Also, this method has to (but does not) account for someone viewing the metrics from UI. If a UI user have a valid session, then allow them in.

![image](https://user-images.githubusercontent.com/3826416/62392179-c33d1d80-b534-11e9-995f-7ac6acf22db2.png)

[2019-08-02 18:54] greenpau opened #56 "feature: add airflow_scheduler_up metric"
Add `airflow_scheduler_up` metric to see if a scheduler is up (1) or down (0)

[2019-08-02 20:34] elephantum commented on #56
Good idea. Any thoughts how to track this?

[2019-08-02 21:27] greenpau commented on #56
@elephantum , I will submit PR for this one.

[2019-08-03 05:20] greenpau commented on #56
@elephantum , see https://travis-ci.org/epoch8/airflow-exporter/jobs/567214466#L463

[2019-08-06 01:32] greenpau opened #58 "bug: plugin gets loaded multiple times"
I added logging to the module. Then, I realized that the plugin is being loaded on every task.

The issue is that exporter.py should include only classes and functions. Then, in init.py, we use the classes and functions. But ... it will happen only once. Currently, it is not implemented like that.

[2019-08-06 09:56] elephantum commented on #58
@greenpau can you describe in more details pls? what do you mean by "loaded on every task"?

If it means that plugin is loaded on run of each task, then it is an acceptable behaviour, because by default Airflow spawns new airflow process for each task run, so full cycle of initialisation is done.

[2019-08-06 20:07] victorkashirin opened #59 "Unsafe code: label «run_id» of «airflow_dag_run_duration» has unlimited cardinality"
The [label and metric naming guide](https://prometheus.io/docs/practices/naming/) states the following about labels:

Given that typical `run_id` includes the date of run, it should generate new time series for each individual dag run, which might eventually blow up Prometheus.

[2019-08-07 11:27] elephantum commented on #59
@victorkashirin This is a good observation. Do you have a solution in mind?

Use case for this metric was to monitor and alert on stuck dagruns.

Maybe we do not need `run_id` as a dimension, but then this metric becomes ambiguous if several dagruns are executing simultaneously.

Thoughts?

[2019-08-13 14:18] greenpau commented on #58
@elephantum, it is not an intended behavior. I just tested by moving the code to `__init__.py`. When you will review the PR #57  you will see that the class will be loaded only once.

[2019-08-13 14:24] greenpau commented on #58
@elephantum , you are right that it will load a new process. I am trying to catch that and detect if it is a spawned process or it is main process. If it is spawned process, then I will not load the exporter.

[2019-08-13 14:26] elephantum commented on #58
@greenpau do you really need to do that? there's no harm in loading exported that is never called. It does not use significant resources.

[2019-08-13 14:30] greenpau commented on #58
@elephantum, If I need to load exporter configuration, I would prefer to do it once.
In current master, the exporter does not have a configuration file. There is no harm there. However, when I added a configuration parameters, it matters.

[2019-08-13 14:53] victorkashirin commented on #59
Stuck dag run will require investigation anyway, and you can retrieve information about currently running dagruns and their duration in seconds via **Ad Hoc Query**(_/admin/queryview/_) with something like this (for Postgres):
[code]
Here `<dag_id>` will be known from alert, thus it's just a matter of running this query to find which dagrun is hanging.

[2019-08-15 17:22] elephantum commented on #59
I agree, we will change exported metrics not to include `run_id`

[2019-08-15 23:49] greenpau commented on #58
@elephantum , here is what I came up with to load it only for airflow webserver processes.

https://github.com/epoch8/airflow-exporter/blob/39cbac19fb63ffe5c2627bd5907bbc120154269f/airflow_exporter/__init__.py#L1

https://github.com/epoch8/airflow-exporter/blob/39cbac19fb63ffe5c2627bd5907bbc120154269f/airflow_exporter/__init__.py#L242-L244

[2019-08-16 01:30] greenpau commented on #54
With the latest commit, the exporter allows authenticated users to view Metrics page.

https://github.com/epoch8/airflow-exporter/blob/5d100a67b559d93f11cf51c17c91fa4fcc1d71b8/airflow_exporter/__init__.py#L253-L255

[2019-08-20 13:06] #59 closed

[2019-08-20 13:59] elephantum commented on #35
I believe this is obsolete. Closing

[2019-08-20 13:59] #35 closed

[2019-08-22 06:52] continuum-akshay-jadhav opened #63 "installation"
Hi All,

Can someone let me know how to use this repo.

I cloned the code on my target machine on which airflow container is present and did pip install,

but could not get metrics as their was no endpoint created when i ran netstat -tulpn command.

Thanks.

[2019-08-22 08:41] elephantum commented on #63
You need to do `pip install` inside the airflow container.

[2019-08-22 09:27] continuum-akshay-jadhav commented on #63
Also do i need to only move airflow_exporter folder into the container or all the code from Repo.

Also let me know where in the container should i place the code.

Thank you so much

[2019-08-22 09:51] elephantum commented on #63
You do not need repo at all. Latest version of exporter is published to pypi.

Just do `pip install`

[2019-08-22 11:17] continuum-akshay-jadhav commented on #63
Thank you @elephantum ,

I have included a docker command pip install airflow-exporter in my docker file..
Hope it works

[2019-08-22 11:57] elephantum commented on #63
@continuum-akshay-jadhav I will close this issue for now. Reopen if you have problems.

[2019-08-22 11:57] #63 closed

[2019-08-22 13:23] continuum-akshay-jadhav commented on #63
Hi @elephantum ,

I tried pip install in my container but now my container is getting restarted always

[2019-08-23 03:27] continuum-akshay-jadhav opened #64 "container"
Hi Team,

I have used PIP install in my Airflow container and tried to view metrics at IP:port/admin/metrics but i am getting below error:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/flask/app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python3.6/site-packages/flask/app.py", line 1951, in full_dispatch_reques

[2019-08-23 09:02] elephantum commented on #64
@continuum-akshay-jadhav you installed different package (seems that it’s a fork with modifications).

Package that we support is called `airflow_exporter`. Not `airflow_prometheus_exporter`

[2019-08-23 11:34] #64 closed

[2019-08-23 12:22] continuum-akshay-jadhav opened #65 "Not getting metrics after pip install in container"
Hi Team,

I have ran PIP install in my airflow container and its telling
  Building wheel for prometheus-client (setup.py) ... done
  Created wheel for prometheus-client: filename=prometheus_client-0.7.1-cp36-none-any.whl size=41406 sha256=b9f03f1d9e47ac656a9b8b790ffe6fcb76de5570f8cb070d972378424c8eefcd
  Stored in directory: /root/.cache/pip/wheels/1c/54/34/fd47cd9b308826cc4292b54449c1899a30251ef

[2019-08-23 14:12] elephantum commented on #65
This is very strange, did you restart your airflow webserver after pip install?

[2019-08-23 14:13] elephantum commented on #65
Airflow version 1.10.3 should work.

[2019-08-24 04:36] continuum-akshay-jadhav commented on #65
please can you let me know How can i restart the airflow container which is running in docker compose in my case

[2019-08-24 16:11] kbbqiu commented on #65
I had the same error **Airflow 404 = lots of circles**.
Ended up downgrading to 1.0, it's fine.

Maybe some regression in 1.1.0?

[2019-08-24 16:15] continuum-akshay-jadhav commented on #65
Hi @kbbqiu ,

So i should dowgrade it from 1.10.3 to 1.0.0

[2019-08-24 18:19] kbbqiu commented on #65
Try:
pip install -Iv airflow-exporter==1.0

I’m on airflow version 1.10.4

[2019-08-25 12:02] elephantum opened #67 "Investigate and borrow from robinhood/airflow-prometheus-exporter"
There's a fork with significant changes, seems to be worth a deeper look.

https://github.com/robinhood/airflow-prometheus-exporter

[2019-08-25 13:08] continuum-akshay-jadhav commented on #65
Hi @kbbqiu ,

I tried above command inside my Airflow container ver 1.10.3 but still the container is getting restarted and getting Airflow 404 = lots of circles.

Can you please suggest somthing or should i upgrade my airflow version or this plugin supports Airflow 1.10.3+

[2019-08-25 13:22] elephantum commented on #65
@continuum-akshay-jadhav / @kbbqiu Can you provide exact steps to reproduce?

[2019-08-25 14:24] continuum-akshay-jadhav commented on #65
Hi @elephantum ,

We have  Docker compose  Airflow container running with version 1.10.3.

Steps:
-I started the Container.
-Loged into container as root and ran the command pip install airflow-exporter.
-Then i logged out of my container.
-At http://<your_airflow_host_and_port>/admin/metrics/ their was **Airflow 404 = lots of circles**.

Also i tried to restart container,but after i restart it al

[2019-08-25 14:25] elephantum commented on #65
@continuum-akshay-jadhav are you sure that after restart container was not recreated?

I would recommend adding `pip install` step into `Dockerfile`.

[2019-08-25 14:27] continuum-akshay-jadhav commented on #65
Hi @elephantum ,

I have tried doing the same in docker file..
But still the container is getting retsarted without restart

[2019-08-25 16:02] elephantum commented on #65
@continuum-akshay-jadhav can you make a gist with airflow logs when it's restarting?

[2019-08-25 16:59] continuum-akshay-jadhav commented on #65
Hi @elephantum ,
As the container is getting restarted continuolsy i am not able to log in to see the logs

[2019-08-25 17:00] elephantum commented on #65
@continuum-akshay-jadhav ok, can you provide a Dockerfile that can be used to replicate this issue?

[2019-08-25 17:07] continuum-akshay-jadhav commented on #65
Hi @elephantum ,

PFB Docker file:

FROM puckel/docker-airflow:1.10.3
LABEL maintainer="Akshay Jadhav"

# Never prompts the user for choices on installation/configuration of packages
ENV DEBIAN_FRONTEND noninteractive
ENV TERM linux

# Airflow
ARG AIRFLOW_VERSION=1.10.3
ARG AIRFLOW_USER_HOME=/usr/local/airflow
ARG AIRFLOW_DEPS="kubernetes,statsd"
ARG PYTHON_DEPS="psycopg2-binary snowflake-connecto

[2019-08-25 17:15] elephantum commented on #65
@continuum-akshay-jadhav I see that you are targeting kubernetes, probably that's the reason you can't see the logs.

Did you try to run this image locally to see docker output?

We use the same image (based on puckel/docker-airflow) for testing and we don't observe any issues.

[2019-08-25 17:21] continuum-akshay-jadhav commented on #65
@elephantum ,
Some part of docker file was build by some one...
Can you please secify wht do you mean by ...I see that you are targeting kubernetes

[2019-08-25 19:57] elephantum commented on #65
@continuum-akshay-jadhav I've been able to recreate some issue with Airflow 1.10.3 (based on puckel docker image), it seems that it still connects to Airflow being incompatible with latest version of Flask.

Upgrading to Airflow 1.10.4 fixes it. Can you try upgrading to 1.10.4?

[2019-08-26 04:53] continuum-akshay-jadhav commented on #65
Hi @elephantum ,

Thank you so much for your help.

Now I can see the metrics when i upgraded Airflow to 1.10.4

[2019-08-26 08:53] elephantum commented on #65
Yes, it is a duration of the longest dagrun currently running.

[2019-08-26 08:53] #65 closed

[2019-09-17 08:35] f1yegor commented on #2
Some of the mentioned above metrics are available via statsd statistics of airflow itself. I'm using statsd-prometheus exporter to monitor them, the downside is that they are not prometheus-way of naming(e.g. `airflow_dag_<dag name>_duration`)

[2019-10-01 14:14] prabhuakshai92 opened #68 "Dag and task metrics should be initialized to zero"
Airflow metrics don't get reset after a restart, however, the metrics did not get initialized. This lead to some unexpected PromQL responses when querying with missing data.
For example, a task state 'failed' is set to '1' at the first failure of the task but before the failure no data existed for the task with state 'failed'. A PromQL query that checks if the task at least executed once over a ti

[2019-11-05 02:32] WakeupTsai commented on #68
A workaround here:

[code]

reference: https://github.com/prometheus/prometheus/issues/1673

[2019-11-12 11:58] baolsen opened #71 "Fix for driver='pyodbc'"
PyODBC driver fails with error:
"Operand data type datetime is invalid for sum operator"

[2019-11-12 12:35] baolsen commented on #71
#72 refers

[2019-11-14 08:16] sdanbury commented on #67
@elephantum is it clear why there was a separate fork, rather than just merging the extra metrics into this project?

[2020-02-22 20:24] elephantum commented on #71
Thanks again for the fix.

[2020-02-22 20:24] #71 closed

[2020-02-22 21:07] elephantum commented on #54
Closing this with "wont fix", I believe that metrics are a part of infrastructure, if you need to limit access, use any pre-existing reverse http-proxy like nginx or caddy to setup http auth.

[2020-02-22 21:07] #54 closed

[2020-02-22 22:09] elephantum commented on #58
I don't like reliance on `argv` contents to determine if the plugin should be loaded, this seems extremely fragile to me.

As we don't have any heavy logic in plugin init, I see no harm in loading it multiple times.

Closing with "wont fix".

[2020-02-22 22:09] #58 closed

[2020-02-22 23:12] elephantum commented on #40
@rushtokunal can you check if the latest version of the plugin works correctly?

We added rbac support for 1.10 some time ago.

[2020-03-26 17:47] fritz-clicktripz opened #77 "Hostname label with KubernetesExecutor has unlimited cardinality"
The recent addition of the `hostname` label, when applied to tasks run with the kubernetes executor, has created a breaking change.

We are generating unlimited cardinality - each hostname is a pod with a unique identifier suffix in our case.

[2020-03-28 10:29] elephantum commented on #77
@fritz-clicktripz thanks for the heads up, that was unexpected.

What would be the best way to deal with this?

[2020-03-29 21:44] fritz-clicktripz commented on #77
Following the approach of https://github.com/epoch8/airflow-exporter/issues/59 - it could be beneficial to just remove it? I don't know if there's a way for users to turn functionality on or off in the plugin via something like environment variables or command line arguments. Task_id's might be unique enough - I haven't used other executors, so I'm not sure what what benefit the combo of hostname+

[2020-05-03 19:55] michalrudko opened #79 "How to get the latest status of a particular DAG?"
I saw an example of using `airflow-exporter` metrics but I am not quite clear on the use case behind it:
`airflow_dag_status{dag_id="dummy_dag",env="test",owner="owner",status="running"} 12.0`
What is needed in most cases is a status of the last run - especially if the status is other than "success" in order to apply some alerts and notifications on top of that. So my question is - how I could con

[2020-05-07 09:55] cansjt commented on #77
What was the point of having the host name initially ? Detect one specific worker (if using something like celery) is misbehaving, maybe ?

I don't think that this responsibility should fall on airflow... There are tools to monitor hardware / vm health, airflow is not one of them. And Airflow deployments on Kubernetes, using the KubernetesExecutor, might become more and more common place fast. Giv

[2020-07-29 20:44] theadityapathak commented on #53
How to install airflow-exporter in airflow version 1.9.0?

[2020-07-30 17:58] kppullin commented on #77
I just ran across the `hostname` cardinality explosion as well running under kubernetes and echo the sentiment for reverting (or making opt-in) this as a breaking change.  Depending on conditions this change can 1) prevent prometheus from pulling metrics due to a timeouts or 2) fill up prometheus with large numbers of time series, which exhausts disk and/or memory, leading to crashes.

While I can

[2020-08-24 20:02] justin-watkinson-sp commented on #77
+1 for the need to make this opt-in or reverted.  The growing cardinality is too big of an issue.

[2020-09-30 10:39] dszakallas commented on #67
We need some metrics provided by that fork, but it look like it is abandoned, as important bugfixes are left unmerged (https://github.com/robinhood/airflow-prometheus-exporter/pull/25).

Could we add the metrics provided by that fork?

- [ ] airflow_task_duration
- [ ] airflow_task_fail_count
- [ ] airflow_xcom_param

Scheduler metrics (require a DAG with a specified name)
- [ ] airflow_dag_schedu

[2020-11-24 10:23] torsjonas commented on #77
+1 the hostname cardinality seems to be an issue

[2020-11-24 20:09] elephantum commented on #77
Hi, everyone. Can somebody elaborate on a specific case where cardinality explosion is an issue?

I believe that everybody is using prometheus to monitor all kinds of k8s related resources: pods, jobs etc. All of these have the same setup pod or job is autogenerated and unique. Pods and jobs oscillate providing the same kind of cardinality as host label here.

Why is it bad? Or why your prometheus

[2020-11-24 21:54] justin-watkinson-sp commented on #77
It appears to me that it's "remembering" all of the old tasks runs and the pod in which it ran.  When I look at the hostnames, they correspond to task runs (e.g. the metric **airflow_task_status**).  For each task for the same dag, because hostname is added and kept presumably until the airflow system is restarted.  I'm not familiar with this implementation, but I know the golang ones when you add

[2020-11-24 22:04] cansjt commented on #77
You seem to forget the the cardinality of the pod ID is not necessarily the matter in itself, it is that times all the other tags combination that come along (there is a [combinatorial explosion](https://www.robustperception.io/cardinality-is-key) that can happen there).

Another factor is that time is "elastic" with airflow. When you backfill on long time period, you may create quite a lot of pod

[2020-11-24 22:37] kppullin commented on #77
Expanding on @justin-watkinson-sp's line of reasoning, I just re-enabled v1.3.0 in our dev cluster to see what the data looked like again.  For our lower volume dev cluster there are ~26,000 distinct metrics weighing in a 5MB.  Pulling all this data from postgres and generating the prometheus metrics hits the web process hard, makes the web process quite unresponsive (GIL, GC, other inefficient co

[2020-11-25 03:36] justin-watkinson-sp commented on #77
Exporters should mostly concerned itself with the state of "now" and expect that the Prometheus job is set up to a reasonable scrape interval that should answer the question of the user.  Could be as little as 1s, or 1d.  That's why it's generally a bad idea to try and guess at that as the exporter level, because you simply don't know.  My payload size is currently at around 58k lines and 11 MB, s

[2020-11-26 07:36] elephantum commented on #77
Finally, I realised the essence of this issue.

Basically the problem is that by using airflow-export we report not only on currently running dags and tasks, but on everything that was ever stored in DB. So there's no way for `hostname` cardinality to go down. This is different from monitoring currently running pods in k8s, because currently running pods have constant size and well defined data ro

[2020-11-26 07:37] elephantum commented on #77
I will review and accept long-standing PR that deals with `hostname` in the following couple of days.

[2020-11-27 17:54] #77 closed

[2020-11-27 18:05] elephantum commented on #77
Everyone, sorry for the inconveniences caused.

I released 1.3.2 that removes `hostname` from task status metrics.

[2020-12-02 23:21] nitvic793 opened #84 "Add a label to indicate if DAG is paused or not"
As the title suggests, it would be great if we can have some way to know if a DAG is paused or not, especially in the `airflow_dag_run_duration` metric, as the metric becomes useless if the a particular DAG is paused mid-run, then the DAG run duration just balloons up for that particular DAG.

The metric `airflow_dag_status` would also benefit from a `paused="true"/"false"` label, enabling easy fi

[2020-12-11 14:23] Alien2150 opened #85 "Plugin broken with Airflow 1.10.14"
Hey,

this plugin does not seem to be compatible with Airflow 1.10.14. As far as I get they changed the way plugins are loaded: https://github.com/apache/airflow/pull/12859/files#diff-7bfb481064cd476fafe05437d31ba297c9255c13cac38d6f2d2aaeed64af7e13R160

On startup this message is generated:

[code]

[2020-12-11 14:38] Alien2150 commented on #85
Also might be related: https://github.com/apache/airflow/blob/e5ce657c5ff8288c84921d705aab05d6b4028f1e/docs/apache-airflow/upgrading-to-2.rst#id21 as 1.10.14 is a "bridge release" : https://github.com/apache/airflow/blob/e5ce657c5ff8288c84921d705aab05d6b4028f1e/docs/apache-airflow/upgrading-to-2.rst#step-2-upgrade-to-airflow-1-10-14-a-k-a-our-bridge-release

[2020-12-11 15:08] Alien2150 commented on #85
Turned it out. It's an issue on Airflow itself (in contact with them)

[2020-12-11 15:11] elephantum commented on #85
Thanks! Keep us informed!

We'll try to implement testing with recent Airflow versions in the meantime.

[2020-12-11 15:14] Alien2150 commented on #85
Ok found a solution. Kudos to the Airflow team. Add "importlib-metadata~=2.0" to requirements or run pip install.

[2020-12-11 15:16] potiuk commented on #85
Thanks for reporting @Alien2150!

Yeah For now just installing `importib-metadata` solves it (and it's only issue for python 3.8). We will decide if it needs a  separate release or if just documenting this solution is enough!

[2020-12-11 15:17] kaxil commented on #85
Apologies for the goof-up and thanks for reporting quick @Alien2150 . I tweeted out too https://twitter.com/ApacheAirflow/status/1337415983447814144

[2020-12-11 18:50] elephantum commented on #85
So, maybe just a note in the README should be enough?

[2020-12-11 18:58] potiuk commented on #85
I believe we cannot update README in package once it is uplaaded to PyPI.

[2020-12-11 19:01] kaxil commented on #85
Maybe you could add a note in https://github.com/epoch8/airflow-exporter/blob/master/README.md instead

[2020-12-11 19:09] elephantum commented on #85
@kaxil Sure, that's exactly what I meant :)

[2020-12-11 19:12] #85 closed

[2020-12-20 21:32] larryzhu2018 opened #86 "Not getting metrics after pip install in container"
I have airflow 1.10.12 and exporter 1.3.2, I still got 404. I saw the previously closed issue that says this was fix in 1.10.4

airflow@workflow-web-d8fcb7cc8-s8c55:~$ curl  http://localhost:8080/admin/metrics -v
* Expire in 0 ms for 6 (transfer 0x55eb15ac4f50)
* Uses proxy env variable NO_PROXY == '10.240.0.1, iad-c-staging-data.adp-elasticsearch'
* Expire in 1 ms for 1 (transfer 0x55eb15ac4f50)

[2020-12-20 21:37] larryzhu2018 commented on #86
see the package is installed
airflow@workflow-web-d8fcb7cc8-s8c55:/usr/local/lib/python3.6/site-packages$ ls  -al airflow_exporter
total 20
drwxr-xr-x. 3 root root   74 Dec 20 19:41 .
drwxr-xr-x. 1 root root 8192 Dec 20 19:41 ..
-rw-r--r--. 1 root root    0 Dec 20 19:40 __init__.py
drwxr-xr-x. 2 root root   79 Dec 20 19:41 __pycache__
-rw-r--r--. 1 root root 6028 Dec 20 19:40 prometheus_exporter.p

[2020-12-21 16:01] elephantum commented on #86
@larryzhu2018 did you restart airflow webserver after you installed package?

[2020-12-21 19:12] larryzhu2018 commented on #86
the airflow-exporter was pip installed in the DockerFile, and then the pod was deployed to k8s and after that I also tried to delete the pod, but still got 404 error as I described above.

how do I restart the airflow webserver? is there something I need to do in the docker file?

[2020-12-21 19:15] elephantum commented on #86
I see, if it was installed in Dockerfile, then it should be fine from this perspective.

We do not have explicit tests for 1.10.12, maybe it's time to add them.

[2020-12-21 19:15] elephantum opened #87 "Tests for recent Airflow versions: 1.10.12+"

[2021-01-21 19:29] mengleihouzz opened #88 "Not compatible with 2.0.0"
current airflow exporter does not compatible with 2.0.0.

`[2021-01-21 11:00:32,756] {plugins_manager.py:199} ERROR - Failed to import plugin AirflowPrometheus
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/airflow/plugins_manager.py", line 189, in load_entrypoint_plugins
    plugin_class = entry_point.load()
  File "/usr/local/lib/python3.6/dist-packages/importl

[2021-01-21 19:35] elephantum commented on #88
Yes, we’d like to support that. I’ll take a look on weekend.

[2021-01-25 21:31] mengleihouzz commented on #88
@elephantum any updates regarding this?

[2021-01-26 07:40] larryzhu2018 commented on #86
@elephantum any updates on this issue?

[2021-02-10 01:27] gaurav1008 commented on #88
+1 Observed same. Any WA available?

[2021-02-10 04:33] dimon222 commented on #88
I've tried to implement potential hotfix in #89  and hoping someone can verify.

[2021-02-10 09:35] elephantum commented on #88
Hi, everyone, can you please try version from `airflow2` branch? It is not yet packaged, because CI-tests are broken, but I feel that it should work fine.

[2021-02-10 09:36] elephantum commented on #88
Work in progress PR is here: https://github.com/epoch8/airflow-exporter/pull/90

[2021-02-12 15:19] elephantum commented on #88
Fixed in https://github.com/epoch8/airflow-exporter/pull/90

[2021-02-12 15:19] #88 closed

[2021-02-12 15:19] #87 closed

[2021-02-14 11:42] elephantum commented on #86
@larryzhu2018 I cannot confirm this issue.

I migrated our tests to official 1.10.12 image, built image which installs `airflow-exporter==1.3.4` via pip.

Plugin works, I was able to collect metrics from Airflow.

[2021-02-14 11:49] elephantum commented on #40
Fixed by https://github.com/epoch8/airflow-exporter/pull/90

[2021-02-14 11:49] #40 closed

[2021-02-14 11:50] elephantum commented on #53
Closing as stale

[2021-02-14 11:50] #53 closed

[2021-04-15 14:46] twbecker commented on #58
Does this explain why the plugin appears multiple times in the list in the UI and also why the "Metrics" item in the Admin menu appears multiple times?

[2021-04-16 06:49] elephantum commented on #58
@twbecker no, original issue referred to plug-in being loaded on each task run.

Your issue is about plug-in being loaded twice (?) inside “webserver” component.

I’m not sure how can this happen, do you have a way to reproduce?

[2021-04-16 06:50] elephantum commented on #58
@twbecker please file a new issue with steps to reproduce pls

[2021-04-16 12:28] twbecker opened #91 "Plugin loaded multiple times in webserver"
We're experimenting with the airflow-exporter and noticed that the plugin seems to be loaded more than once. Using airflow 2.0.1 and airflow-exporter 1.4.1 installed via pip. The plugin appears twice in the list under Admin | Plugins, as does the Metrics menu item. See attached screenshot.

![pluginDuplicated](https://user-images.githubusercontent.com/1576404/115024127-a9b94200-9e8d-11eb-8eb8-ed9d

[2021-04-16 14:34] elephantum commented on #91
What's interesting - RBACMetrics object is exactly the same (has the same memory address)

So it seems that "registering" happens twice for some reason.

We'll try to reproduce

[2021-04-23 13:59] jimduden6804 commented on #79
I am also looking for a solution for this Problem.... It is the most valuable information for us whether the last run was successful.

[2021-05-14 20:22] andormarkus opened #92 "[question] - airflow-exporter vs. StatsD"
Hi All,

I'm quite new in Airflow on Kubernetes and I don't understand the difference between airflow-exporter and StatsD.  I searched lot on the internet, but I didn't find any usable material. From integration perspective airflow-exporter is much simpler and airflow-helm chart supports it out of box. My goal is to send all the metrics to Prometheus.

Please someone can tell me the differences fr

[2021-06-02 13:37] jasonstitt commented on #68
A caveat with the workaround is that the exporter provides a total count of past failures, so when you first start the exporter (or if there's a sufficiently long interruption in metrics), when the exporter comes up everything that failed in the past will show new failures. So, zero initialization would be superior.

[2021-06-09 16:12] elephantum commented on #79
Take a look at #96 pls, is it something that solves your use case?

[2021-06-10 10:40] elephantum commented on #79
Fixed by #96

[2021-06-10 10:40] #79 closed

[2021-06-10 10:40] elephantum commented on #43
Fixed by #96

[2021-06-10 10:40] #43 closed

[2021-06-11 02:49] nvn01234 opened #98 "DAG not found in serialized_dag table"
Step by step to reproduce the bug:
- Step 1: Delete a dag in code
- Step 2: Do not delete the DAG on the UI, wait for it disappeared on the UI
- Step 3: Go to admin/metrics, you will get the bug as the picture below
![image](https://user-images.githubusercontent.com/16082537/121623402-d3f83c00-ca99-11eb-80d9-f0c3632eaa3a.png)

Currently I have to run a CLI command: `airflow dags delete <dag_id>` t

[2021-06-11 10:33] elephantum commented on #98
Interesting, thanks for reporting.

[2021-06-16 06:10] dmeibusch opened #99 "Exporter fails with MySQL: get_dag_duration_info"
Airflow 2.0.1 with MySQL db
airflow exporter 1.5.0

[code]

[2021-06-16 10:12] elephantum commented on #99
Interesting.

Can you help me with creation of test case that fails?

[2021-06-16 11:52] dmeibusch commented on #99
This was out of the box Airflow 2.0.1 with MySQL DB and example dags provided. What would help for a test case?

[2021-06-16 12:20] dmeibusch commented on #99
Ok, digging through the code,  I can see that it is probably falling through to `default` in line 139 in the `durations` dict to possibly get this exception on a `value - epoch` expression.
I'm using the `mysql+mysqlconnector` driver for the connection - I'm not sure with that driver what `Session.bind.driver` returns.

[2021-06-16 12:33] dmeibusch commented on #99
Yup, I think that's the problem:
[code]

[2021-06-17 05:35] dmeibusch commented on #99
Adding `mysqlconnector` to the dict with the same value as `mysqldb` has fixed the issue for me.

[2021-06-17 10:02] elephantum commented on #99
@dmeibusch I see, we have pending PR that fixes this issue: https://github.com/epoch8/airflow-exporter/pull/94

For some reason I was sure, that it is already merged. Will do

[2021-06-17 10:22] sawaca96 opened #100 "How can I export metrics to prometheus or grafana?"
I'm use [airflow-stable helm chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow) and airflow-exporter

so I can see metrics from /admin/metrics

but I want to export metrics to grafana. How can I export this metrics ??

# Note
airflow version `apache/airflow:2.0.2-python3.8`
helm chart version `8.2`

[2021-06-17 10:24] elephantum commented on #100
@sawaca96 you need prometheus to collect metrics and point grafana to your prometheus instance

[2021-06-17 10:25] elephantum commented on #100
https://prometheus.io/docs/prometheus/latest/configuration/configuration/

[2021-06-17 10:25] #100 closed

[2021-06-18 08:20] elephantum commented on #99
Should be fixed in v1.5.1

[2021-06-18 08:20] #99 closed

[2021-06-18 14:12] juancroca opened #101 "Integration with MWAA AWS?"
Have you guys tried this plugin in the MWAA environment of AWS? If yes is there any extra steps?

[2021-06-22 12:45] Jeoffreybauvin opened #103 "Sqlalchemy error with Airflow 2.0.1"
I just installed airflow-prometheus on my Airflow setup with Kubernetes :

[code]

I'm using Mysql 5.7 (Percona server).

When I hit /admin/metrics/ :

[code]

[2021-06-22 12:48] elephantum commented on #103
I see, MySQL 5.7 does not support window functions.

I think it is possible to rewrite SQL without them.

[2021-06-23 08:59] Jeoffreybauvin commented on #103
I can confirm it's working with Mysql 8.

Have you any idea how to fix this query ?

[2021-06-30 10:22] qed- opened #104 "PyPI source package"
It looks like source packages stopped being uploaded to PyPI as of version 1.4.2.

Could this be reinstated? This is useful for building a conda package through conda skeleton.

[2021-06-30 11:43] elephantum commented on #104
Seems so, it is an oversight from my side.
I will upload sdist soon

[2021-07-01 08:37] biryukovsky commented on #98
I had a similar problem. In my case the exception message was like "airflow.exception.SerializedDagNoFound: DAG 'None' in serialized_dag table". Fixed with following query in airflow database:
`DELETE FROM dag_run WHERE dag_id IS NULL;`

[2021-07-01 09:44] elephantum commented on #98
Hi, everyone!

If anyone would have time to create a PR that fixes it, I would be grateful. Fix should not be too complex.

[2021-07-01 10:41] sawaca96 commented on #98
@elephantum How should I fix it?
just fix it to ignore `airflow.exceptions.SerializedDagNotFound` ?

[2021-07-01 10:44] elephantum commented on #98
I would suggest altering sqlalchemy query for this case, most probably simple join with dag table would be enough.

I.e. filter out such tasks and dags that do not have corresponding dag in DB.

[2021-07-03 13:35] sawaca96 commented on #98
@elephantum  #105 I create PR
Thank you for the opportunity.😁😁

[2021-07-20 13:44] CyberHippo commented on #98
Experienced it as well.

[2021-08-06 13:12] baryluk commented on #98
Same issue here, with airflow-exporter 1.5.1,

and airflow 1.10.15, (where for some very old dags we do not have `serialized_dag` entries, as we only enabled that option few weeks ago in preparation for the Airflow 2.x update), but it will be an issue when I upgrade to 2.x, because we will be preserving full history.

I have a single dag in `dag` table, that is no longer available. Looking at post

[2021-08-16 11:55] elephantum commented on #104
Fixed with upload of v1.5.2

[2021-08-16 11:55] #104 closed

[2021-08-16 11:56] elephantum commented on #98
Fixed in v1.5.2

[2021-08-16 11:56] #98 closed

[2021-08-17 11:16] baryluk commented on #98
Excellent, it works. Thanks @sawaca96 and @elephantum

[2021-08-25 15:38] Flogue commented on #91
![image](https://user-images.githubusercontent.com/4671471/130820663-f6122dfc-8482-4fb5-a51b-ce8f1ea0f1d3.png)

I have the same issue on Airflow v2.1.2, Python 3.7.9. Our Admin user is Public (we disabled authentication)

[2021-11-09 22:04] brandon-fryslie commented on #103
I'm also running into this.  Any progress on a fix?

[2021-11-24 04:01] pindge opened #107 "airflow v2.1.3 webserver failing to start after installing latest airflow-exporter"
After installing `airflow-exporter` airflow version `2.1.3` shifted to lower than `2.1.0` version

[code]

For comparison below is log with no `airflow-exporter`

[code]

[2021-11-24 06:56] elephantum commented on #107
@pindge what is the fastest way to reproduce this?

[2021-11-24 06:59] elephantum commented on #107
@pindge what is the fastest way to reproduce this?

[2021-11-26 00:32] pindge commented on #107
Closing, the real problem was `flask-appbuilder 3.1.1`

[code]

[2021-11-26 00:32] #107 closed

[2021-11-26 00:34] pindge opened #108 "airflow exporter is failing on /admin/metrics page"
[code]

[2021-11-29 05:07] elephantum commented on #108
@pindge can you describe your setup?

Do you have a way to reproduce this behavior?

[2021-11-29 05:48] pindge commented on #108
[code]

via web browser

1. `username: airflow` and `password:airflow`
2. enable a couple of dags
3. navigate to `/admin/metrics/` end point
4. then there is the error

[2021-11-30 09:54] tanvn commented on #108
I got the same error the day before on Airflow 2.2.2 too.
I guessed from 2.2.2, the Param class has been changed
https://github.com/apache/airflow/blob/main/airflow/models/param.py#L36
so we need to change the way to get the `labels` on
[code]
This function (`get_dag_labels`) runs well on Airflow 2.1.1

[2021-11-30 18:03] elephantum commented on #108
I'm looking into it

[2021-12-01 06:41] #108 closed

[2021-12-04 10:18] elephantum commented on #103
@brandon-fryslie @Jeoffreybauvin can you please check if the fix here works for you? https://github.com/epoch8/airflow-exporter/pull/111

[2021-12-21 13:43] slash-cyberpunk opened #112 "Bug with state is null in dag_run table"
Airflow 2.1.4
airflow-exporter 1.5.2
When using backfill records are created in dag_run table at first have state is null, which leads to errors in the exporter.

[2022-02-23 14:51] ibeltek commented on #103
I have the same problem

`:/opt/airflow$ pip freeze | grep airflow
airflow-exporter==1.5.3
apache-airflow==2.2.4`

`Ooops!
Something bad has happened.

Python version: 3.6.15
Airflow version: 2.2.4
Node: airflow-2-web-7d7bb76754-js5sv
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.6/site-pa

[2022-06-15 14:11] akepa opened #113 "Custom labels not working after upgrade to Airflow 2.3.1"
Airflow version: 2.3.1
airflow-exporter: 1.5.3

Hello,

we have upgraded recently our Airflow from 2.2.5 to 2.3.1 and we have seen that after the upgrade, the feature to include custom labels in the metrics is not working anymore.

[code]
with previous version, /metrics endpoint was exposing the following metrics:

[code]

after the upgrade, it is not including the custom label

[code]

[2022-06-15 15:08] akepa commented on #113
Seems to be related to https://github.com/epoch8/airflow-exporter/blob/master/airflow_exporter/prometheus_exporter.py#L203.

I've been debugging in local with 2.3.2 and

[code]

has now the following content:

[code]

[2022-08-03 09:19] sgrzemski opened #115 "PostgreSQL CPU consumption"
Hello to all developers,

I am using this exporter with an Airflow instance having around 80 dags. I have recently figured out that querying `/admin/metrics` endpoint every 30s kills my PostgreSQL database. Each request to get the metrics takes around 18 to 22s and it is causing 100% CPU usage on the instance. While disabled, PostgreSQL is used only in 10-20%. Is there anything we can do about it

[2022-09-15 11:51] BobDu commented on #92
Hi,
I had the same problem today, a year later. I didn't find any more information by search it, same. May I ask if you have seen some relevant information on this this year?
Thanks,
@andormarkus

[2022-11-14 15:53] vladiceanu commented on #92
There are two major differences between `airflow-exporter` and `StatsD:
- StatsD setup is more complex, requires an additional exporter, not so much support from the Official Helm chart; airflow-exporter requires exposes metrics directly in Prometheus format;
- [airflow-exporter has a much lower variety of metrics](https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/metrics.ht